
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

package-lock.json

.env

backend/app/services/models/*
backend/app/rag_pipeline/models/bge_large_en_v1.5
backend/app/rag_pipeline/models/qwen2.5


# Virtual environments
.venv
venv/

# uv
uv.lock
.python-version.local