services:
  - type: web
    name: pauth-rc-api
    runtime: python
    plan: free
    region: oregon
    buildCommand: |
      pip install uv
      uv sync --frozen
    startCommand: uv run uvicorn app.main:app --host 0.0.0.0 --port $PORT
