services:
  - type: web
    name: pauth-rc-api
    runtime: python
    plan: free
    region: oregon
    buildCommand: |
      pip install uv
      cd backend
      uv sync --frozen
    startCommand: |
      cd backend
      uv run uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: GROQ_API_KEY
        sync: false
      - key: SENT_TRANSFORMER_MODEL
        value: app/rag_pipeline/models/minilm
      - key: VECTOR_STORE_PATH
        value: app/rag_pipeline/vectorstore
      - key: MODEL_PATH
        value: app/rag_pipeline/models/qwen2.5
      - key: PYTHON_VERSION
        value: 3.11.0
    healthCheckPath: /
